/******* General Style *******/

body,
html {
	width: 100%;
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.custom_button{
	width: 200px;
	text-align: center;
	float: center;
}

[data-role=page] {
	background-color: white !important;
	margin: auto;
	text-align: center;
}

ul {
	list-style-type: none;
	display: inline-block;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: #8D74B1;
}


/******* Headers *******/
h1 {
	font-weight: 600;
	font-size: 60px;
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: #8D74B1 !important;
}

h1.cool {
	font-weight: 600;
	font-size: 60px;
	text-align: center;
	font-family: Georgia, Times, "Times New Roman", serif;
	color: white !important;
}

h2 {
	font-size: 30px;
	color: white;
	background-color: #8D74B1;
}

.bold {
	font-weight: 600;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
}

p.blue {
	color: blue !important;
	font-weight: 900 !important;
}


/******* Navbar Footer *******/

[data-role=footer] {
	display: block;
	border-top: 5px solid black;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: center;
}


/******* Content *******/
.cente {
	margin: 0 auto !important;
}
div.ui-input-text {
	width: 250px !important;
	text-align: center;
	margin: auto;
	margin-bottom: 8px;
}

.ui-field-contain {
	margin: auto;
}

.small {
	width: 150px !important;
	background-color: #8D74B1 !important;
	color: white !important;
}


img.smalls {
	width: 50% !important;
	height: 50% !important;
}

p.smaller {
	font-size: 15px !important;
}
fieldset {
	margin: auto;
	text-align: center;
}

.cent {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

.img_caption {
	width: 100%;
	text-align: center;
}

#purplediv {
	vertical-align: middle;
	line-height: 60px; 
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #8D74B1;
	font-size: 25px;
	color: #fff;
}

/******* Patients *******/

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.container {
  padding: 0 16px;
	margin-bottom: 50px;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  font-size: 18px;
}


/******* H


